input{
  margin-top: 30px;
  margin-bottom: 30px;
}

.jumbotron {
  height: 100vh;
}

.btn {
  margin-top: 20px;
}

.input-form {
  width: 50%;
}

.result{
  text-align: center;
  margin-top: 45vh;
}
