label {
  margin-top: 30px;
}

ul {
  list-style: none;
}

input {
  margin-bottom: 30px;
}

.jumbotron {
  height: 100vh;
}

.input-form .btn {
  margin-top: 20px;
}

.input-form {
  width: 50%;
}

.result{
  text-align: center;
  margin-top: 45vh;
}

.header {
  font-family: monospace;
  background: black;
  color: white;
  min-height: 60px;
  padding-left: 20px;
}

.header h1 {
  margin: 0;
  padding: 20px;
}
